
{% layout "default-layout.liquid" %}
{% block content %}
    <div class="container-fluid">
        <form action="/users/login" method="POST">
            <Fieldset>
                <legend>login Page</legend>
                <label class="form-label">username:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="username"  
                    placeholder="enter username"
                >
                <label class="form-label">password: </label>
                <input 
                    class="form-control" 
                    type="password" 
                    name="password"  
                    placeholder="enter password"
                >
            </Fieldset>
            <input 
                type="submit" 
                value="Log in" 
                class="btn btn-success btn-danger" 
            >   
        </form>
    </div>
{% endblock %}