{% layout "default-layout.liquid" %}

    {% block content %}
    <div>
        {% for todo in todos %}
        <!-- <p>fruit id: {{ todo._id}}</p> -->
        <a href="/todos/{{todo._id}}">list items from the todo_routes: {{ todo.list }}</a>
        {% endfor %}
    </div>
    {% endblock %}
<!-- href="/todos{{todo._id}}" -->