{% layout "default-layout.liquid" %}
    {% block content %}
    <!-- bootstrap fluid container section -->
    <div class="container-fluid">
        <form action="/todos" method="POST">
            <fieldset>
                <legend>Add a Todo list</legend>
                <label class="form-label">Add todo:</label>
                <input 
                    class="form-control" 
                    type="text" 
                    name="list" 
                    placeholder="add new todo list"
                >
            </fieldset>
            <input 
                type="submit" 
                value="Add new todo list" 
                class="btn btn-danger" 
            >   
        </form>
        <label class="form-label">Add image here:</label>
        <a 
            href="/images/add" 
            class="btn btn-danger custom-btn">
            Add image
        </a>
    </div>
    <!-- end of bootstrap fluid container section -->

    <!-- css style section -->
    <style>
        
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,400;0,500;1,500&family=Work+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap');
        
        nav {
            height: 65px;
            font-family: 'Open Sans', sans-serif;
        }

        .navbar-brand {
            color: bisque;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
        }

        #navbarNav .new-link,.nav-link {
            margin: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            text-decoration: none;
            color: rgb(220, 245, 230);
        }

        legend {
            text-align:center;
            margin-top: 15px;
            font-family: 'Montserrat', sans-serif;
            font-size: 40px;
        }

        label {
            font-size: 20px;
            font-family:'Montserrat', sans-serif;

        }

        .form-control {
            margin: 10px;
            margin-bottom: 7px;
        }

    </style>
    <!-- end of css style section -->
{% endblock %}