{% layout "default-layout.liquid" %}
{% block content %}
        <div>

                <p> list items from the todo_routes: {{ todo.list }}</p>
                <a href="/todos/{{todo._id}}/edit">Edit Fruit</a>

        </div>
{% endblock %}
