{% layout "default-layout.liquid" %}
{% block content %}
    <!-- bootstrap fluid container section -->
    <div class="container-fluid">
        <!-- article section -->
        <article>
            <h2>{{todo.list}}</h2>
            <div class="btn-group">
                <a 
                        href="/todos/{{todo._id}}/edit" 
                        class="btn btn-danger custom-btn">
                        Edit Todo
                </a>
                <!--form section  -->
                <form action="/todos/{{todo._id}}?_method=DELETE" method="POST">
                        <input 
                                type="submit" 
                                value="Delete" 
                                class="btn btn-danger custom-btn"
                        />
                </form>
                <!--end of form section  -->
            </div>
        </article>
        <!-- end of section -->

        <!-- add comment section -->
        <div class="col-md-6">
            <form action="/comments/{{todo._id}}" method="POST">
            <fieldset>
                <legend>Add description</legend>
                <label class="form-label">Description:</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="note" 
                    placeholder="Enter description here"
                />
            </fieldset>
            <input 
                type="submit" 
                class="btn btn-danger" 
                value="Add btn-description" 
            />
            </form>
        </div>
        <!-- end of add comment section -->

        <!-- show comment section -->
        {% if todo.comments.length > 0 %}
        <div class="container-fluid justify-content-center">
            <div class="col-md-8 col-lg-6" >
                {% for comment in todo.comments %}
                {% render '../comment.liquid' comment: comment, userId: userId, todo: todo, username: username %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- end of show comment section -->
    </div>

    <!-- style css -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto:ital,wght@0,400;0,500;1,500&family=Work+Sans:ital,wght@0,200;0,300;1,200;1,300&display=swap');

        nav {
            height: 65px;
            font-family: 'Open Sans', sans-serif;
        }

        .navbar-brand {
            color: bisque;
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
        }

        #navbarNav .new-link,.nav-link {
            margin: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            text-decoration: none;
            color: rgb(220, 245, 230);
        }

        .btn {
            margin-top: 15px;       
        } 

        .col-md-8 {
            margin-top: 20px;
        }
    </style>
    <!-- end of style css -->
{% endblock %}
